#app-home h3 {
    position: relative;
    margin-top: 1rem;
}

#app-home h3 a {
    position: absolute;
    font-size: 1.125rem;
    line-height: 2.75rem;
}

#app-home h3 a:first-child {
    left: 0;
}

#app-home h3 a:last-child {
    right: 0;
}

#app-home h3 i {
    font-size: 1.25rem;
}

#app-home img {
    width: 100%;
}

#app-home .setApart {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#app-home .setApart ~ .setApart {
    margin-top: 0;
}

@media screen and (max-width: 640px) {
    #app-home .setApart {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

#app-home .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-home .flex.alignBaseline {
    align-items: baseline;
}

#app-home .flex.alignCenter {
    justify-content: center;
    align-items: center;
}

#app-home .margin-none {
    margin: 0;
}

#home-directory {
    margin: 1rem auto;
}

#home-directory h3 a {
    position: relative;
}

#home-directory h3 a span {
    font-size: 1rem;
}

#home-directory h3 i {
    font-size: 1.9375rem;
}

#home-directory .content .columns {
    position: relative;
    width: 100%;
    padding-top: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 641px) {
    #home-directory .content .columns {
        width: 50%;
        padding-top: 35%;
    }
}

#home-directory .content .columns .callout {
    text-align: center;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: 0 1rem;
    padding: 0;
    border: none;

    box-shadow: 0 10px 22px rgba(0,0,0,.08);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#home-directory .content .columns .callout:hover {
    box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
}

#home-directory .content .columns .callout .fade {
    width: 100%;
    height: 100%;

    padding: 1rem;
    background-color: #def0fc;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.mobile #home-directory .content .columns .callout .fade {
    opacity: 0.75;
}

@media screen and (max-width: 640px) {
    body.mobile #home-directory .content .columns .callout .fade {
        opacity: 0.5;
    }
}

#home-directory .content .columns .callout .fade:hover {
    opacity: 0.25;
}

#home-directory .content .columns .callout h4 {
    position: absolute;
    top: 0;

    color: #2199e8;
    text-align: center;
    font-size: 4rem;

    width: 100%;
    margin-top: 27.5%;

    opacity: 0;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.mobile #home-directory .content .columns .callout h4 {
    opacity: 1;
}

#home-directory .content .columns .callout:hover h4 {
    opacity: 1;
}

@media screen and (max-width: 640px) {
    #home-directory .content .columns .callout h4 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

#home-directory .content .columns .callout .fade img {
    z-index: 1000;
    width: 90%;

    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.mobile #home-directory .content .columns .callout .fade img {
    opacity: 0.5;
}

#home-directory .content .columns .callout .fade img:hover {
    opacity: 0.5;
}